<div class="container">
    <div class="row position-content">
        <div class="col-xs-12">
            <h1 class="al-home-title">Easier and smarter way to</h1>
            <p style="transition: all 0.3s ease-out;" id="text" class="al-sub-title">find a new job.</p>
            <input type="text" class="al-input-search center-block" placeholder="Search for dream job..." ng-model='inputTxt'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="searchHome()">
        </div>
    </div>
</div>