<div class="container">
    <div class="row">
        <div class="col-lg-12 custom-position">
            <div class="input-group">
                <input type="text" class="form-control custom-search-input" aria-label="...">
                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary custom-search-button"
                            uib-dropdown-toggle ng-disabled="disabled">
                        Category <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Action</a></li>
                        <li role="menuitem"><a href="#">Another action</a></li>
                        <li role="menuitem"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <p class="title-text">Result for Design</p>

    <div class="row card-position">
        <a href="#" ng-click="smartSys(['aa', 'ss', 'dd'])">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail custom-thumbnail">
                    <img src="angular/img/card-picture.png" alt="...">
                    <div class="caption">
                        <h3 class="card-title">Naziv oglasa</h3>
                        <h4 class="company-name">Ime firme</h4>
                        <div class="row chips-position">
                            <div class="custom-chips">php</div>
                            <div class="custom-chips">java</div>
                            <div class="custom-chips">angular js</div>
                        </div>
                        <p class="bottom-text">Do 30/11 | Beograd</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

