<div class="container modal-demo" ng-controller="HomeWorkerCtrl as $ctrl">
    <div class="row">
        <div class="col-md-6 text-left custom-text-left">
            Profile view
        </div>
        <div class="col-md-6 text-right custom-text-right">
            <a href="#!/edit-profile-worker">Edit your profile</a>
        </div>
    </div>
    <div class="row card-position1">
        <div class="col-md-12">
            <div class="header-card">
                <div class="col-md-4 text-center">
                    <img src="angular/img/user.png" alt="">
                    <h3 class="card-title">John Doeingga</h3>
                    <p class="titula">Front-end Developer</p>
                    <div class="linka"></div>
                    <p class="location">Belgrade, Serbia</p>
                    <a type="button" class="btn btn-primary custom-employes">Open to collaboration</a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <p class="cards-title">LIST OF JOBS</p>
                    </div>
                    <p class="card-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been theindustry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <div class="row">
                        <p class="cards-title">MY SKILLS</p>
                    </div>
                    <div class="row chips-position">
                        <div>
                            <!--<div class="custom-chips">{{category.name}}</div>-->
                            <div class="custom-chips">tehnologija</div>
                            <div class="custom-chips">angular js</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-position">
        <div class="col-md-5">
            <div class="card-left">
                <div class="row">
                    <p class="cards-title">LIST OF JOBS</p>
                </div>
                <div class="row list-position">
                    <div class="col-md-3">
                        <div class="custom-thumbnail"><p>30<br>JAN</p></div>
                    </div>
                    <div class="col-md-9 custom-title-padding">
                        <h3 class="list-title">Ime posla</h3>
                        <p class="card-desc">Naziv firme</p>
                    </div>
                </div>
                <div class="row list-position">
                    <div class="col-md-3">
                        <div class="custom-thumbnail"><p>30<br>JAN</p></div>
                    </div>
                    <div class="col-md-9 custom-title-padding">
                        <h3 class="list-title">Ime posla</h3>
                        <p class="card-desc">Naziv firme</p>
                    </div>
                </div>
                <div class="row list-position">
                    <div class="col-md-3">
                        <div class="custom-thumbnail"><p>30<br>JAN</p></div>
                    </div>
                    <div class="col-md-9 custom-title-padding">
                        <h3 class="list-title">Ime posla</h3>
                        <p class="card-desc">Naziv firme</p>
                    </div>
                </div>
                <div class="cards-footer">
                    <a href="#">View more</a>
                </div>
            </div>
        </div>
        <div class="col-md-7" ng-click="$ctrl.open()">
            <div class="card-right1 text-center">
                <div class="fake-button">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
                <p class="play-text">Check out my video cv</p>
            </div>
        </div>
    </div>
</div>