body {
    background-color: #f2f4f6;
}
.custom-text-left {
    font-family: montserratRegular;
    font-size: 14px;
    color: #b0bec5;
}
.custom-text-right a {
    font-family: montserratSemiBold;
    font-size: 14px;
    color: #2962ff;
    text-decoration: underline;
}

/*CARD*/

.card-position {
    margin-top: 30px;
    margin-bottom: 40px;
}
.card-position1 {
    margin-top: 30px;
    /*margin-bottom: 40px;*/
}

.header-card {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 350px;
    padding: 22px;
}
.card-title {
    font-family: montserratLight;
    font-size: 28px;
    color: #263238;
}
.titula {
    font-family: montserratRegular;
    font-size: 15px;
    color: #b0bec5;
}
.linka {
    width: 60px;
    margin-left: 40%;
    border-bottom: 1px solid #cfd8dc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.location {
    font-family: montserratRegular;
    font-size: 14px;
    color: #b0bec5;
    margin-bottom: 20px;
}
.custom-employes, .custom-employes:focus, .custom-employes:active, .custom-employes:active:focus {
    height: 42px;
    font-family: montserratRegular;
    font-size: 15px;
    color: #ffffff;
    background-color: #2962ff!important;
    /*width: 165px;*/
    border-radius: 2px;
    border: 2px solid #2962ff;
    transition: all 0.3s ease-out;
    margin-left: 10px;
    box-shadow: none;
}
.custom-employes:hover {
    background-color: #4577ff!important;
    border: 2px solid #4577ff;
}
.cards-title {
    font-family: montserratRegular;
    font-size: 13px;
    color: #90a4ae;
    margin-left: 14px;
}
.card-desc {
    font-family: montserratLight;
    font-size: 15px;
    color: #b0bec5;
    line-height: 1.5;
}.custom-chips {
     background-color: #eceff1;
     border-radius: 15px;
     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 10px;
     padding-right: 10px;
     width: max-content;
     font-family: montserratMedium;
     font-size: 12px;
     text-transform: uppercase;
     color: #2962ff;
     float: left;
     margin-left: 14px;
     margin-bottom: 5px;
 }
.card-left {
    box-shadow: 0px 8px 29px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 500px;
    padding: 22px;
    background-color: #ffffff;
}
.custom-thumbnail {
    width: 70px;
    height: 70px;
    background-color: #b0bec5;
    text-align: center;
    padding: 15px;
    /*margin-left: 14px;*/
}
.custom-thumbnail p {
    font-family: montserratRegular;
    font-size: 14px;
    color: #ffffff;
}
.list-title {
    font-family: montserratRegular;
    font-size: 16px;
    color: #263238;
    margin-top: 10px;
}
.custom-title-padding {
    padding-left: 0px;
}
.list-position {
    margin-top: 10px;
}
.cards-footer {
    margin-left: 41%;
}
.cards-footer a {
    bottom: 30px;
    position: absolute;
    font-family: montserratRegular;
    font-size: 13px;
    color: #b0bec5;
    text-transform: uppercase;
    text-decoration: none;
}
.card-right1 {
    box-shadow: 0px 8px 29px 0px rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 300px;
    padding: 22px;
    background-color: #ffffff;
    cursor: pointer;
}
.fake-button {
    width: 57px;
    height: 57px;
    background-color: #2962ff;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    margin-left: 45%;
    margin-top: 13%;
}
.fake-button i {
    margin-top: 32%;
    font-size: 22px;
}
.play-text {
    font-family: montserratRegular;
    font-size: 16px;
    color: #2962ff;
    margin-top: 15px;
}
.custom-modal-header {
    border: none;
}
.custom-modal-title {
    font-family: montserratRegular;
    font-size: 13px;
    color: #b0bec5;
}
.custom-modal-title span {
    font-family: montserratRegular;
    font-size: 13px;
    color: #2962ff;
}
.modal-content {
    border-radius: 0px;
    /*width: 300px;*/
}
.custom-modal-footer {
    border: none;
}