<div ng-controller="LevelModalCtrl as $ctrl">
    <div class="modal-header custom-modal-header">
        <h3 class="modal-title custom-modal-title" id="modal-title">Questions <span></span></h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="col-xs-6">
            <h4>{{question.content}}</h4>
        </div>
        <div class="col-xs-6">
            <form name="myForm" >
                <label>
                    <input type="radio" ng-model="checkboxModal" value="1" checked>
                    1
                </label>
                <label>
                    <input type="radio" ng-model="checkboxModal" value="2">
                    2
                </label>
                <label>
                    <input type="radio" ng-model="checkboxModal" value="3">
                    3
                </label>
                <label>
                    <input type="radio" ng-model="checkboxModal" value="4">
                    4
                </label>
                <label>
                    <input type="radio" ng-model="checkboxModal" value="5">
                    5
                </label>
            </form>
        </div>
    </div>
    <div class="modal-footer custom-modal-footer">
        <button class="btn btn-primary" type="button"  ng-click="submitQuestion()">OK</button>
        <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
    </div>
</div>

