<div ng-controller="HireProfileCtrl as $ctrl">
    <div class="modal-header custom-modal-header">
        <h3 class="modal-title custom-modal-title" id="modal-title">LIST OF EMPLOYEES | <span>5</span></h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row list-position">
            <div class="col-md-2">
                <img src="angular/img/user.png" alt="">
            </div>
            <div class="col-md-10">
                <h3 class="list-title">John Doe</h3>
                <p class="card-desc">Designer</p>
            </div>
        </div>
        <div class="row list-position">
            <div class="col-md-2">
                <img src="angular/img/user.png" alt="">
            </div>
            <div class="col-md-10">
                <h3 class="list-title">John Doe</h3>
                <p class="card-desc">Designer</p>
            </div>
        </div>
        <div class="row list-position">
            <div class="col-md-2">
                <img src="angular/img/user.png" alt="">
            </div>
            <div class="col-md-10">
                <h3 class="list-title">John Doe</h3>
                <p class="card-desc">Designer</p>
            </div>
        </div>
    </div>
    <div class="modal-footer custom-modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
    </div>
</div>

