/*FONTS*/
@font-face {
    font-family: montserratExtraBold;
    src: url(../Fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: montserratBold;
    src: url(../Fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserratSemiBold;
    src: url(../Fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserratMedium;
    src: url(../Fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserratRegular;
    src: url(../Fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserratLight;
    src: url(../Fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: montserratExtraLight;
    src: url(../Fonts/Montserrat-ExtraLight.ttf);
}
/*FONT END*/

.custom-navbar {
    background-color: #ffffff;
    border: none;
}
.custom-signup {
    margin-top: 8px;
    border-radius: 0px;
    border: 2px solid #263238;
    font-family: montserratRegular;
    font-size: 16px;
    color: #263238;
}
.navbar-default .navbar-nav>li>a {
    color: #263238!important;
}
.custom-navbar-text {
    font-family: montserratRegular;
    font-size: 16px;
}
.custom-search-input {
    height: 58px;
    font-size: 16px;
    font-family: montserratRegular;
    color: #263238;
    border: 0px solid #eceff1;
    background-color: #eceff1;
    border-radius: 2px;
    box-shadow: none;
}